@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.container {
	width: 80%;
	margin: 0 auto;
	border-radius: 2px;
	background: #fff;
}

body {
	background: #EF5350;
	color: rgba(254,254,254,0.8);
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: rgba(0,0,0,0.25);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.6);
}


section {
	padding: 5em 2em 10em;
	background: #EF5350;
	text-align: center;
}

section.related {
	padding: 3em 1em 4em;
	background: #465650;
	color: rgba(0,0,0,0.4);
	font-size: 1.5em;
}

.related > a {
	max-width: 80%;
	border: 2px solid rgba(0,0,0,0.3);
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	-webkit-transition: color 0.3s, border-color 0.3s;
	transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
	border-color: rgba(0,0,0,0.6);
}

.related a img {
	max-width: 100%;
	opacity: 0.4;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	font-weight: 400;
	font-size: 0.75em;
	text-align: left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

form {
	position: absolute !important;
	transform: translate(-50%, -50%);
	top: 45%;
	left: 50%;
}

#resultBox {
    height: 0;
    text-align: center;
    width: 100%;
    background: #EF5350;
    animation: result_fadeIn 0.6s ease-in;
}

#result {
    color: #fff;
    font-weight: 400;
    font-size: 2.25em;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
    margin-bottom: 0;
}

@keyframes result_fadeIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        height: auto;
        padding: auto;
        visibility: visible;
    }
    100% {
    	visibility: hidden;
        height: 0;
        padding: 0;
    }
}

.ct-chart {
    height: 0;
    width: 90%;
    margin: 0 auto 15px auto;
    overflow: hidden;
    animation: result_fadeIn 0.6s ease-in;
}

.ct-chart .ct-series-a .ct-line,
.ct-chart .ct-series-a .ct-point  {
    stroke: #009688;
}

.ct-chart .ct-label {
    font-size: 1em !important;
    color: #111;
    padding: 6px 0px 6px 6px;
}

.ct-chart .ct-area {
    fill-rule: nonzero;
}

#key {
	display: none;
	color: #000;
	width: 90%;
    margin: 0 auto 15px auto;
}

#avg {
	color: #009688;
}

#goal {
	color: #f05b4f;
}

@media screen and (max-width: 44.75em) {
	section { padding: 1em 2em; }
}

@media screen and (max-width: 25em) {
	.codrops-header { font-size: 0.8em; }
	section.related { font-size: 1.2em; }
	.codrops-icon span { display: none; }
}