body {
	position: relative;
}

#flexible-toolbar {
	height: 144px;
	width: 100%;
	z-index: -1;
	margin-bottom: -72px;
}

#formContainer {
	background: #fff;
	padding: 24px;
	overflow-y: hidden;
}

#formContainer:hover {
	overflow-y: scroll;
}

.container {
	background: #fff;
	padding: 24px;
	border-radius: 4px;
}

#infoCard>div {
	padding: 0;
}

.col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.col.offset-s4 {
  margin-left: 33.3333333333%;
}

.sidebar {
    position: absolute;
    border-radius: 0;
    margin-top: -72px;
    position: fixed;
    height: 100vh;
}

h1 {
	font-weight: 700;
	font-size: 2rem;
	margin: 0 0 24px 0;
}

#classlist ul {
	opacity: 0;
}

.card {
	overflow: auto;
}

.input-field>input {
	border-bottom: 1px solid #555;
}

.switch>label,
.input-field>label {
	color: #555;
}

form>.row {
	margin: 0;
}

form div.row:nth-of-type(3) {
	margin-bottom: 10px;
}

form .switch {
	margin-top: 20px;
	margin-bottom: 20px;
}

.card-action a {
	color: #009688 !important;
}

.card-action a:hover {
	color: #4db6ac !important;
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#resultBox h2 {
	font-size: 2em;
	margin: 12px;
}

#gpa_achieve,
#credits_remaining {
	font-weight: 700;
}