.center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.ClassSectionContainer {
  position: relative;
  // TODO: Remove when mobile specific layout is created.
  margin-bottom: 3rem;

  &_inner {
    padding: 1.5rem;
  }

  &--not-included {
    color: #9E9E9E;
  }

  .material-icons {
    font-size: 64px;
    display: inline-block;
  }

  .FloatingActionButton {
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
    transform: translateY(-50%);
  }
}

.DialogContent {
  width: fit-content !important;

  > div > div {
    padding: 0 !important;
  }
}

.DialogContent_Inputs {
  padding: 24px;
}

.DialogContent_Actions {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
  text-align: right;
}